.gif{  
  width: 200px;
  height: 350px;
  padding: 15px;
  display: inline-block;
  
}
.gif label{ 
 display: block;
 text-align: center;
 padding: 10px;
 font-weight: bold;
}

.gif img{
  display: block;
  margin: auto;
}